@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
    <link href="Css/HollaCss.css"  type="text/css" rel="stylesheet"/>
</head>
<body>
    <header id="title">
        <h1>Holla</h1>
    </header>
    <div id="content">
        <div class="sidebar">
            <h3>Channels</h3>
            <ul>
                <li class="active">Developer</li>
                <li>Sales</li>
                <li>Marketing</li>
                <li>Ops</li>
            </ul>
        </div>
        <div class="main"></div>
    </div>
</body>
</html>
