
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>首页</title>
    <link href="Css/Default.css" type="text/css" rel="stylesheet" />
  
     
</head>
<body>
    <div id="header">
        <h1>flowbywind</h1>
    </div>
    <div id="sidebar">
        <p>个人简介</p>
</div>
        <div id="main">
            <ul>
                <li>新闻1</li>
            </ul>

        </div>
    <div id="footer">
        &copy; 2013，flowbywind工作室
    </div>
</body>
</html>
