<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="db" value="server=.;database=chatdb;uid=sa;pwd=sbf;"/>
	</appSettings>
	<system.web>
		<compilation debug="true" defaultLanguage="C#"/>
		<authentication mode="Windows"/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
		<globalization requestEncoding="utf-8" responseEncoding="gb2312"/>
	</system.web>
</configuration>
